/* comentario no css /*

* { /* "*" -> todos os elementos aplicáveis */
    

:root { 
    font-size: 16px; 
    scroll-behavior: smooth; 
}

body {
    width: 80vw; /* 80vw: 80% da viewport width */
    margin: auto; /* margem com ajuste automático */
    font-size: 20px; /* o padrão é 16px */
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
}

.nome-curriculo {
    font-family: "Anta", sans-serif;
    font-size: 3rem;
    margin: 2rem 1rem 3rem 4rem; /* shorthand para margin-top margin-right margin-bottom margin-left*/
}

section {
    padding: 40px; /* preenchimento [interno] */
}

#apresentacao {
    background-color: #b9b3ec;
}

#formacaoAcademica {
    background-color: #178117;
}

#experienciaProfissional {
    background-color: #d61825;
}

#hardSkills {
    background-color: #c4e5e5;
}

#softSkills {
    background-color: #e9eccc;
}

#idiomas {
    background-color: #ecb3e4;
}
/* @TODO 
    1. estilizar as demais seções - OK
    2. estilizar elementos article
    3. tirar as sombras de texto
 */

#tecnologias {
    display: flex; /* exibe como caixa flexível (Flexbox) */
    /* Flexbox tem várias propriedades que trabalham junto */
    justify-content: space-between; /* alinha o conteúdo no eixo principal */
}

/* Combinadores */

article h1 { /* h1 descendente de article */
    font-size: 2rem;
    font-weight: bold; /* bold = 700 */
    margin: 0 0 1rem 0;
}

article h2 {/* h2 descendente de article */
    font-size: 1.5rem;
    font-weight: 600; /* demi-bold (quase negrito) */
    margin: 0 0 1rem 0;
}

.autor {
    font-style: oblique;
    font-weight: 600;
    font-size: 80%;
}

.data {
    font-style: oblique;
    font-size: 80%;
}

.continue-lendo {
    background-color: #483d8b;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: 8px;
}

.continue-lendo a {
    color: #ffffff;
    text-decoration: none;
}

article p {
    text-align: justify;
    /* margin-bottom: 1rem; */
    /* height: 150px; */
    overflow: hidden; /* transbordamento: escondido*/
}

article {
    width: 30%; /* 30% do pai (section id="tecnologias") */
    background-color: #cecece;
    /* padding: 2rem; */
}

.titulo-secao {
    text-transform: uppercase; /* transforma o texto em maiúsculas */
    font-family: "Anta", sans-serif;
    color: rgb(53, 53, 53);
    font-size: 2rem;
    margin: 1rem 0 2rem 0; 
    padding: 0; 
}

p {
    line-height: 1.5; /* altura da linha: 1.5x o tamanho padrão */
   /* valores: cima-baixo esquerda-direita */
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 1rem 0;
    /* text-shadow: 1px 1px 2px dimgray; */
}
    .continuelendo{
        background-color: aqua;
        padding: .5rem 1rem;
        margin-top: 1rem;
        border-radius: 10px;
        text-decoration: none;
    
        color: #d61825;
    }












































#experienciaPtofissional {
    background-color: blue;
}



/* @TODO
1.estilizar as demais seções 
1.estilizar elementos article
3.tirar as sombras de textos
*/

#tecnologias ª{
       display: flex; /* exibe como caixa flexivel (flexbox) */
       /* Flexbox tem várias propriedades que trabalha junto */
       justify-content: space-evenly ; /*alinha o conteúdo no eixo principal */

}












